# Gym create Environment

### Imports

In [1]:
import gym 
from gym import Env
from gym.spaces import Discrete, Box, Dict, Tuple, MultiBinary, MultiDiscrete

import random
import pandas as pd
import numpy as np
import random
import os

from stable_baselines3 import PPO
from stable_baselines3.common.vec_env import VecFrameStack
from stable_baselines3.common.evaluation import evaluate_policy

### Hulponderdelen environment
In het environment van een 3 bij 3 wordt gewerkt met een matrix en een lisjt met containernummers die ingedeeld moeten worden.

In [2]:
def create_matrix(x):
    data = {}
    for i in range(0,x):
        data[i] = [0]*x
    nullen_matrix = pd.DataFrame(data)
    return nullen_matrix

In [3]:
create_matrix(3)

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

In [4]:
list_containers = list([1,1,1,2,2,2,3,3,3])
random.shuffle(list_containers)

In [5]:
print(list_containers)

[3, 1, 3, 1, 1, 2, 2, 2, 3]

### Environment maken
In dit model wordt gewerkt met een hele simpele reward: er wordt gekeken of een container niet op een plek wordt geplaatst waar er al 1 staat. Alleen deze restricite wordt op getraind, nog neit een optimale oplossing, dus welke containers waar staan maakt nu nog niet uit.

In [6]:
class Mijn_Env(Env):
    def __init__(self):
        self.x = 3
        self.midden_env = 1
        
        self.action_space = MultiDiscrete([3,3])
        self.observation_space = Box(low=int(0),high=int(9),shape=(3,3), dtype=int)
        #state: 3 bij 3 matrix in df vorm
        self.state = create_matrix(self.x) #achteraf naar numpy
        
        self.list_containers = list([1,1,1,2,2,2,3,3,3])
        random.shuffle(self.list_containers)
        
        self.duration = 9 # want 9 containers plaatsen
        
    def step(self, action):
        self.duration -= 1
        
        # container pakken:
        container = self.list_containers.pop()
        # bij at is het [y,x]. action is een [i,j] co√∂rdinaat (Multidiscrete)
        y_row = action[0]
        x_col = action[1]
        plek = self.state.iloc[y_row,x_col]
        
        # REWARD
        reward = 0
        #leeg vakje?
        if plek == 0:
            reward += 1
        else:
            reward -= 1
        
        # PLAATSEN
        self.state.iloc[y_row, x_col] = container
        
        # STOPPEN
        if self.duration <= 0:
            done=True
        else:
            done=False
            
        info = {}
        
        return self.state.to_numpy(), reward, done, info
    
    def render(self, mode = 'human'):
        display(self.state)
    
    def reset(self):
        # terug naar lege matrix:
        self.state = create_matrix(self.x)
        # nieuwe random list_containers
        self.list_containers = list([1,1,1,2,2,2,3,3,3])
        random.shuffle(self.list_containers)
        # duration terug op 9
        self.duration = 9
        
        return self.state.to_numpy()

In [7]:
env = Mijn_Env()

In [8]:
env.state

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

In [9]:
print(env.list_containers)

[3, 2, 3, 3, 2, 2, 1, 1, 1]

### Environment testen

In [10]:
episodes = 5
for episode in range(1, episodes+1):
    state = env.reset()
    done = False
    score = 0 
    
    while not done:
        env.render()
        action = env.action_space.sample()
        n_state, reward, done, info = env.step(action)
        score+=reward
    print('Episode:{} Score:{}'.format(episode, score))
env.close()

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  2

   0  1  2
0  0  0  0
1  0  0  0
2  0  1  2

   0  1  2
0  0  0  2
1  0  0  0
2  0  1  2

   0  1  2
0  0  0  2
1  0  0  0
2  0  1  1

   0  1  2
0  0  0  3
1  0  0  0
2  0  1  1

   0  1  2
0  0  0  3
1  0  2  0
2  0  1  1

   0  1  2
0  0  0  3
1  0  3  0
2  0  1  1

   0  1  2
0  0  0  3
1  1  3  0
2  0  1  1

Episode:1 Score:1

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  2  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  2  1
1  0  0  0
2  0  0  0

   0  1  2
0  0  2  1
1  0  0  0
2  3  0  0

   0  1  2
0  0  1  1
1  0  0  0
2  3  0  0

   0  1  2
0  0  1  1
1  0  0  0
2  3  0  1

   0  1  2
0  2  1  1
1  0  0  0
2  3  0  1

   0  1  2
0  2  1  1
1  0  0  0
2  3  0  3

   0  1  2
0  3  1  1
1  0  0  0
2  3  0  3

Episode:2 Score:1

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  0  0
1  0  0  0
2  0  1  0

   0  1  2
0  0  0  0
1  0  0  0
2  0  1  0

   0  1  2
0  0  0  0
1  3  0  0
2  0  1  0

   0  1  2
0  0  0  0
1  3  0  0
2  0  1  2

   0  1  2
0  0  0  0
1  3  0  0
2  0  1  2

   0  1  2
0  0  3  0
1  3  0  0
2  0  1  2

   0  1  2
0  0  3  0
1  1  0  0
2  0  1  2

   0  1  2
0  0  3  3
1  1  0  0
2  0  1  2

Episode:3 Score:1

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  3  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  3  0  0
1  0  2  0
2  0  0  0

   0  1  2
0  3  0  0
1  0  2  0
2  2  0  0

   0  1  2
0  3  0  0
1  0  2  0
2  2  1  0

   0  1  2
0  3  0  3
1  0  2  0
2  2  1  0

   0  1  2
0  3  0  3
1  0  2  2
2  2  1  0

   0  1  2
0  3  3  3
1  0  2  2
2  2  1  0

   0  1  2
0  3  3  3
1  0  2  2
2  1  1  0

Episode:4 Score:5

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  1  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  1  0
1  0  0  0
2  0  0  0

   0  1  2
0  0  1  0
1  0  0  0
2  0  0  2

   0  1  2
0  0  1  0
1  0  0  0
2  2  0  2

   0  1  2
0  3  1  0
1  0  0  0
2  2  0  2

   0  1  2
0  2  1  0
1  0  0  0
2  2  0  2

   0  1  2
0  2  1  0
1  0  0  0
2  2  3  2

   0  1  2
0  2  1  0
1  3  0  0
2  2  3  2

Episode:5 Score:3

### Environment trainen

In [11]:
#log_path = os.path.join('Training', 'Logs')
model = PPO("MlpPolicy", env, verbose=1)

Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.

/opt/jupyterhub/anaconda/lib/python3.9/site-packages/torch/cuda/__init__.py:83: UserWarning: CUDA initialization: CUDA driver initialization failed, you might not have a CUDA gpu. (Triggered internally at  /opt/conda/conda-bld/pytorch_1659484809662/work/c10/cuda/CUDAFunctions.cpp:109.)
  return torch._C._cuda_getDeviceCount() > 0

In [12]:
model.learn(total_timesteps=100000)

---------------------------------
| rollout/           |          |
|    ep_len_mean     | 9        |
|    ep_rew_mean     | 2.86     |
| time/              |          |
|    fps             | 1028     |
|    iterations      | 1        |
|    time_elapsed    | 1        |
|    total_timesteps | 2048     |
---------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 3.22        |
| time/                   |             |
|    fps                  | 766         |
|    iterations           | 2           |
|    time_elapsed         | 5           |
|    total_timesteps      | 4096        |
| train/                  |             |
|    approx_kl            | 0.015304323 |
|    clip_fraction        | 0.164       |
|    clip_range           | 0.2         |
|    entropy_loss         | -2.19       |
|    explained_variance   | -0.0627     |
|    learning_rate        | 0.0003      |
|    loss                 | 1.02        |
|    n_updates            | 10          |
|    policy_gradient_loss | -0.0213     |
|    value_loss           | 2.79        |
-----------------------------------------
----------------------------------------
| rollout/                |            |
|    ep_len_mean          | 9          |
|    ep_rew_mean          | 3.32       |
| time/                   |            |
|    fps                  | 711        |
|    iterations           | 3          |
|    time_elapsed         | 8          |
|    total_timesteps      | 6144       |
| train/                  |            |
|    approx_kl            | 0.01555247 |
|    clip_fraction        | 0.194      |
|    clip_range           | 0.2        |
|    entropy_loss         | -2.16      |
|    explained_variance   | 0.361      |
|    learning_rate        | 0.0003     |
|    loss                 | 1.26       |
|    n_updates            | 20         |
|    policy_gradient_loss | -0.0297    |
|    value_loss           | 2.03       |
----------------------------------------
------------------------------------------
| rollout/                |              |
|    ep_len_mean          | 9            |
|    ep_rew_mean          | 3.84         |
| time/                   |              |
|    fps                  | 688          |
|    iterations           | 4            |
|    time_elapsed         | 11           |
|    total_timesteps      | 8192         |
| train/                  |              |
|    approx_kl            | 0.0121408235 |
|    clip_fraction        | 0.159        |
|    clip_range           | 0.2          |
|    entropy_loss         | -2.12        |
|    explained_variance   | 0.412        |
|    learning_rate        | 0.0003       |
|    loss                 | 1.07         |
|    n_updates            | 30           |
|    policy_gradient_loss | -0.0215      |
|    value_loss           | 2.05         |
------------------------------------------
----------------------------------------
| rollout/                |            |
|    ep_len_mean          | 9          |
|    ep_rew_mean          | 3.66       |
| time/                   |            |
|    fps                  | 677        |
|    iterations           | 5          |
|    time_elapsed         | 15         |
|    total_timesteps      | 10240      |
| train/                  |            |
|    approx_kl            | 0.01027108 |
|    clip_fraction        | 0.117      |
|    clip_range           | 0.2        |
|    entropy_loss         | -2.09      |
|    explained_variance   | 0.478      |
|    learning_rate        | 0.0003     |
|    loss                 | 1.03       |
|    n_updates            | 40         |
|    policy_gradient_loss | -0.0158    |
|    value_loss           | 1.82       |
----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 3.88        |
| time/                   |             |
|    fps                  | 610         |
|    iterations           | 6           |
|    time_elapsed         | 20          |
|    total_timesteps      | 12288       |
| train/                  |             |
|    approx_kl            | 0.011460734 |
|    clip_fraction        | 0.121       |
|    clip_range           | 0.2         |
|    entropy_loss         | -2.05       |
|    explained_variance   | 0.453       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.726       |
|    n_updates            | 50          |
|    policy_gradient_loss | -0.0168     |
|    value_loss           | 1.85        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4           |
| time/                   |             |
|    fps                  | 578         |
|    iterations           | 7           |
|    time_elapsed         | 24          |
|    total_timesteps      | 14336       |
| train/                  |             |
|    approx_kl            | 0.009576918 |
|    clip_fraction        | 0.111       |
|    clip_range           | 0.2         |
|    entropy_loss         | -2.02       |
|    explained_variance   | 0.465       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.632       |
|    n_updates            | 60          |
|    policy_gradient_loss | -0.0147     |
|    value_loss           | 2.11        |
-----------------------------------------
--------------------------------------
| rollout/                |          |
|    ep_len_mean          | 9        |
|    ep_rew_mean          | 4.12     |
| time/                   |          |
|    fps                  | 564      |
|    iterations           | 8        |
|    time_elapsed         | 29       |
|    total_timesteps      | 16384    |
| train/                  |          |
|    approx_kl            | 0.010643 |
|    clip_fraction        | 0.112    |
|    clip_range           | 0.2      |
|    entropy_loss         | -2.01    |
|    explained_variance   | 0.492    |
|    learning_rate        | 0.0003   |
|    loss                 | 0.902    |
|    n_updates            | 70       |
|    policy_gradient_loss | -0.0163  |
|    value_loss           | 1.89     |
--------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.14        |
| time/                   |             |
|    fps                  | 547         |
|    iterations           | 9           |
|    time_elapsed         | 33          |
|    total_timesteps      | 18432       |
| train/                  |             |
|    approx_kl            | 0.009165373 |
|    clip_fraction        | 0.12        |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.99       |
|    explained_variance   | 0.461       |
|    learning_rate        | 0.0003      |
|    loss                 | 1.25        |
|    n_updates            | 80          |
|    policy_gradient_loss | -0.0144     |
|    value_loss           | 2.23        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.22        |
| time/                   |             |
|    fps                  | 525         |
|    iterations           | 10          |
|    time_elapsed         | 38          |
|    total_timesteps      | 20480       |
| train/                  |             |
|    approx_kl            | 0.010718545 |
|    clip_fraction        | 0.115       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.97       |
|    explained_variance   | 0.453       |
|    learning_rate        | 0.0003      |
|    loss                 | 1.17        |
|    n_updates            | 90          |
|    policy_gradient_loss | -0.0169     |
|    value_loss           | 2.08        |
-----------------------------------------
------------------------------------------
| rollout/                |              |
|    ep_len_mean          | 9            |
|    ep_rew_mean          | 4.1          |
| time/                   |              |
|    fps                  | 525          |
|    iterations           | 11           |
|    time_elapsed         | 42           |
|    total_timesteps      | 22528        |
| train/                  |              |
|    approx_kl            | 0.0077413297 |
|    clip_fraction        | 0.0895       |
|    clip_range           | 0.2          |
|    entropy_loss         | -1.94        |
|    explained_variance   | 0.475        |
|    learning_rate        | 0.0003       |
|    loss                 | 1.07         |
|    n_updates            | 100          |
|    policy_gradient_loss | -0.0125      |
|    value_loss           | 2.04         |
------------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.28        |
| time/                   |             |
|    fps                  | 518         |
|    iterations           | 12          |
|    time_elapsed         | 47          |
|    total_timesteps      | 24576       |
| train/                  |             |
|    approx_kl            | 0.010502594 |
|    clip_fraction        | 0.119       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.91       |
|    explained_variance   | 0.496       |
|    learning_rate        | 0.0003      |
|    loss                 | 1.11        |
|    n_updates            | 110         |
|    policy_gradient_loss | -0.0176     |
|    value_loss           | 2.08        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.16        |
| time/                   |             |
|    fps                  | 518         |
|    iterations           | 13          |
|    time_elapsed         | 51          |
|    total_timesteps      | 26624       |
| train/                  |             |
|    approx_kl            | 0.009521782 |
|    clip_fraction        | 0.104       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.91       |
|    explained_variance   | 0.513       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.845       |
|    n_updates            | 120         |
|    policy_gradient_loss | -0.0168     |
|    value_loss           | 1.87        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.2         |
| time/                   |             |
|    fps                  | 520         |
|    iterations           | 14          |
|    time_elapsed         | 55          |
|    total_timesteps      | 28672       |
| train/                  |             |
|    approx_kl            | 0.008767508 |
|    clip_fraction        | 0.0778      |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.91       |
|    explained_variance   | 0.489       |
|    learning_rate        | 0.0003      |
|    loss                 | 1.03        |
|    n_updates            | 130         |
|    policy_gradient_loss | -0.0121     |
|    value_loss           | 2.23        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.32        |
| time/                   |             |
|    fps                  | 519         |
|    iterations           | 15          |
|    time_elapsed         | 59          |
|    total_timesteps      | 30720       |
| train/                  |             |
|    approx_kl            | 0.008239379 |
|    clip_fraction        | 0.104       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.88       |
|    explained_variance   | 0.488       |
|    learning_rate        | 0.0003      |
|    loss                 | 1           |
|    n_updates            | 140         |
|    policy_gradient_loss | -0.015      |
|    value_loss           | 2.13        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.3         |
| time/                   |             |
|    fps                  | 520         |
|    iterations           | 16          |
|    time_elapsed         | 62          |
|    total_timesteps      | 32768       |
| train/                  |             |
|    approx_kl            | 0.008824804 |
|    clip_fraction        | 0.0874      |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.89       |
|    explained_variance   | 0.572       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.692       |
|    n_updates            | 150         |
|    policy_gradient_loss | -0.0155     |
|    value_loss           | 1.72        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.56        |
| time/                   |             |
|    fps                  | 525         |
|    iterations           | 17          |
|    time_elapsed         | 66          |
|    total_timesteps      | 34816       |
| train/                  |             |
|    approx_kl            | 0.009184524 |
|    clip_fraction        | 0.106       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.85       |
|    explained_variance   | 0.566       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.688       |
|    n_updates            | 160         |
|    policy_gradient_loss | -0.0174     |
|    value_loss           | 1.82        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.48        |
| time/                   |             |
|    fps                  | 529         |
|    iterations           | 18          |
|    time_elapsed         | 69          |
|    total_timesteps      | 36864       |
| train/                  |             |
|    approx_kl            | 0.010528272 |
|    clip_fraction        | 0.115       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.81       |
|    explained_variance   | 0.602       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.754       |
|    n_updates            | 170         |
|    policy_gradient_loss | -0.0175     |
|    value_loss           | 1.61        |
-----------------------------------------
----------------------------------------
| rollout/                |            |
|    ep_len_mean          | 9          |
|    ep_rew_mean          | 4.48       |
| time/                   |            |
|    fps                  | 533        |
|    iterations           | 19         |
|    time_elapsed         | 72         |
|    total_timesteps      | 38912      |
| train/                  |            |
|    approx_kl            | 0.00943994 |
|    clip_fraction        | 0.0878     |
|    clip_range           | 0.2        |
|    entropy_loss         | -1.79      |
|    explained_variance   | 0.54       |
|    learning_rate        | 0.0003     |
|    loss                 | 0.794      |
|    n_updates            | 180        |
|    policy_gradient_loss | -0.0155    |
|    value_loss           | 1.99       |
----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.8         |
| time/                   |             |
|    fps                  | 533         |
|    iterations           | 20          |
|    time_elapsed         | 76          |
|    total_timesteps      | 40960       |
| train/                  |             |
|    approx_kl            | 0.010786256 |
|    clip_fraction        | 0.11        |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.76       |
|    explained_variance   | 0.582       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.62        |
|    n_updates            | 190         |
|    policy_gradient_loss | -0.0188     |
|    value_loss           | 1.81        |
-----------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.74        |
| time/                   |             |
|    fps                  | 537         |
|    iterations           | 21          |
|    time_elapsed         | 80          |
|    total_timesteps      | 43008       |
| train/                  |             |
|    approx_kl            | 0.011998659 |
|    clip_fraction        | 0.129       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.75       |
|    explained_variance   | 0.538       |
|    learning_rate        | 0.0003      |
|    loss                 | 1.19        |
|    n_updates            | 200         |
|    policy_gradient_loss | -0.0197     |
|    value_loss           | 1.99        |
-----------------------------------------
------------------------------------------
| rollout/                |              |
|    ep_len_mean          | 9            |
|    ep_rew_mean          | 5.02         |
| time/                   |              |
|    fps                  | 540          |
|    iterations           | 22           |
|    time_elapsed         | 83           |
|    total_timesteps      | 45056        |
| train/                  |              |
|    approx_kl            | 0.0115295155 |
|    clip_fraction        | 0.133        |
|    clip_range           | 0.2          |
|    entropy_loss         | -1.7         |
|    explained_variance   | 0.577        |
|    learning_rate        | 0.0003       |
|    loss                 | 0.637        |
|    n_updates            | 210          |
|    policy_gradient_loss | -0.0187      |
|    value_loss           | 1.78         |
------------------------------------------
------------------------------------------
| rollout/                |              |
|    ep_len_mean          | 9            |
|    ep_rew_mean          | 5.02         |
| time/                   |              |
|    fps                  | 544          |
|    iterations           | 23           |
|    time_elapsed         | 86           |
|    total_timesteps      | 47104        |
| train/                  |              |
|    approx_kl            | 0.0096396115 |
|    clip_fraction        | 0.1          |
|    clip_range           | 0.2          |
|    entropy_loss         | -1.69        |
|    explained_variance   | 0.576        |
|    learning_rate        | 0.0003       |
|    loss                 | 1.13         |
|    n_updates            | 220          |
|    policy_gradient_loss | -0.016       |
|    value_loss           | 1.94         |
------------------------------------------
-----------------------------------------
| rollout/                |             |
|    ep_len_mean          | 9           |
|    ep_rew_mean          | 4.86        |
| time/                   |             |
|    fps                  | 546         |
|    iterations           | 24          |

### Model gebruiken/evalueren

In [13]:
# from stable_baselines3.common.monitor import Monitor
# env.reset()
# monitor = Monitor(env)
evaluate_policy(model , env, n_eval_episodes=1, return_episode_rewards = True, render=True)

/opt/jupyterhub/anaconda/lib/python3.9/site-packages/stable_baselines3/common/evaluation.py:65: UserWarning: Evaluation environment is not wrapped with a ``Monitor`` wrapper. This may result in reporting modified episode lengths and rewards, if other wrappers happen to modify these. Consider wrapping environment first with ``Monitor`` wrapper.
  warnings.warn(

   0  1  2
0  0  0  0
1  0  0  0
2  0  3  0

   0  1  2
0  0  0  0
1  0  0  0
2  1  3  0

   0  1  2
0  0  0  0
1  1  0  0
2  1  3  0

   0  1  2
0  0  0  0
1  1  0  0
2  1  3  3

   0  1  2
0  3  0  0
1  1  0  0
2  1  3  3

   0  1  2
0  3  0  0
1  1  0  2
2  1  3  3

   0  1  2
0  3  0  0
1  1  2  2
2  1  3  3

   0  1  2
0  3  1  0
1  1  2  2
2  1  3  3

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

([9.0], [9])

# Conclusie
Zoals te zien is bij het testresultaat plaatst het model geen containers over elkaar, want hij kan ze alle 9 kwijt (de laatste stap wordt niet gerenderd, vandaar dat je dat niet ziet, maar de reward is 9: dus 9x +1). Dit betekent dat het simpele model binnen 100000 timesteps (mogelijk kan het sneller, daarvoor zouden we de learning curve moeten bekijken) heeft geleerd geen containers te plaatsen op een plek waar er al eentje staat.